
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
