#Twitter{
    background-color: rgb(237, 197, 122);
    width: 125px;
    height: 125px;
}
#Instagram{
    background-color: rgb(244, 195, 104);
    width: 125px;
    height: 125px;
}
#Facebook{
    background-color: rgb(240, 190, 99);
    width: 125px;
    height: 125px;
}
#Spotify{
    background-color: rgb(238, 186, 90);
    width: 125px;
    height: 125px;
}